

.custom-search {
    position: relative;
    width: 300px;
  }
.custom-search-input {
    width: 100%;
    padding-right: 100px !important; 
    box-sizing: border-box;
}

/*.custom-search-botton {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    line-height: 1 !important;
    z-index: -2;
  }*/